*{
    margin: 0;
    padding: 0;
}

body{
    border: red;
    height: 100vh;
}

h1{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
h2{
    color: lightcyan ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
article{
    border: solid darkgreen 5px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    color: black;
    background-color: darkolivegreen ;
    padding: 20px;
    margin: auto;
}

img{
    border: solid whitesmoke 5px;
    border-radius: 50px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}
